<div class="container">
    <div class="text-center">
        <img src="../../assets/logo_gym.jpg" alt="logo">
        <h3>Bienvenido, ingresar sus datos</h3>
    </div>
    <form [formGroup]="formLogin">
        <div class="form-group">
          <label for="email">Correo electronico</label>
          <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo">
          
          <div class="alert alert-danger" *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].dirty"  role="alert">
            
            <span *ngIf="formLogin.controls['email'].errors.required">Correo es requerido</span>
            <span *ngIf="formLogin.controls['email'].errors.email">Correo no es valido</span>

          </div>
        </div>

        <div class="form-group">
          <label for="password">Constraseña</label>
          <input type="password" (keyUp.enter)="ingresar()" class="form-control" formControlName="password" id="password" placeholder="Ingrese su contraseña">
          <div *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].dirty"  class="alert alert-dangver" role="alert">
                <span *ngIf="formLogin  .controls['password'].errors.required">La contraseña es requerida</span>
          </div>
        </div>
        
        <button type="submit" [disabled]="!formLogin.valid" (click)="ingresar()" class="btn btn-primary">Ingresar</button>
      </form>

      <div *ngIf="!correctData" class="alert alert-warning" role="alert">
        {{textError}}
      </div>

</div>
